{% extends "base.html" %}
{% block content %}
    <main>
        <h2>{{ username }}'s Movies</h2>
            <div class="card-list">
                {% if movies %}
                        {% for movie in movies %}
                            <div class="card">
                                <img class="movie-poster" src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" width="150">
                                <div class="movie-info">
                                    <h3>{{ movie.title }}</h3>
                                    <p>Year: {{ movie.year }}</p>
                                    <p>Director: {{ movie.director }}</p>
                                </div>
                                <form method="POST" action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie.id) }}">
                                    <button type="submit">Delete</button>
                                </form>
                                <form class="update-form" method="POST" action="{{ url_for('update_movie', user_id=user_id, movie_id=movie.id) }}">
                                    <input type="text" name="new_title" placeholder="New Title" required>
                                    <button type="submit">Update</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You have no movies in your collection.</p>
                {% endif %}
            </div>

        <h3>Add a New Movie</h3>
        <form method="POST" action="{{ url_for('get_user_movies', user_id=user_id, movies=movies)}}">
            <input type="text" name="title" placeholder="Movie Title" required>
            <button type="submit">Add Movie</button>
        </form>
    </main>
    <footer>
{% endblock %}
